
<mat-toolbar class="toolbar">
    <div class="container">
        <div class="cancel-btn">
            <nav>
                <a routerLink="/" style="color: red;">Cancel</a>
            </nav>
        </div>
        <div class="title-text" style="padding-top:15px;">
            <span>New Blog Post</span>
        </div>
        <div class="save-btn">
            <nav>
                <a routerLink="/" style="color: darkcyan;" (click)="save()">Publish</a>
            </nav>
        </div>
    </div>
</mat-toolbar>

<div style="margin:1%">
    <label>
        <input type='text' id="titleField" [(ngModel)]="blogpost.title" placeholder="Enter a title for your post!">
        <textarea id="blogpost" onfocus="background:'#e5fff3';" onblur="background:'white'" [(ngModel)]="blogpost.description" placeholder="Jolt down your thoughts for this post!"></textarea>
    </label>
</div>